* {
  font-family: arial;
}
ul {
  list-style-type: none;
  padding: 0;
}
h1,h2{
  text-transform: uppercase;
}

body {
  margin: 5em 0;
  background-color: black;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  justify-content: center;
  flex-direction: row;
}
aside {
  background-color: #6495ed;
  width: 20em;
  height: 100%;
  padding-top: 1em;
}
aside *{
  color: white;
}
#profile{
  text-align: center;
  width: 100%;
  margin: 0;
}
#profile img{
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
}
#profile h1 {
  font-size: 1.5em;
}
aside h2{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
aside section {
  padding: 0 2em;
}
aside section:first-child p{
  margin: 0em;
}
aside section:nth-child(n+1) h2:first-child{
  padding-left: 1em;
  font-size: 1.2em;
}
aside section h2:first-child{
  border-bottom: 2px solid white;
}
aside section ul li a{
  padding-left: 2em;
  padding-bottom: 1em;
  display: block;
  text-decoration: none;
  overflow-wrap: break-word;
  width: fit-content;
}
.tel{
  background: url(img/phone.svg) no-repeat;
  background-size: 24px;
}
.mail{
  background: url(img/email.svg) no-repeat;
  background-size: 24px;
}
.location{
  background: url(img/location.svg) no-repeat;
  background-size: 25px;
}
.linkedin {
  background: url(img/linkedin.svg) no-repeat;
}
.github {
  background: url(img/github.svg) no-repeat;
  background-size: 24px;
}
.instagram {
  background: url(img/instagram.svg) no-repeat;
  background-size: 20px;
}

main {
  background-color: white;
  padding-left: 2em;
}
main section h2 {
  letter-spacing: 0.1em;
  color: #6495ed;
  padding-left: 1.2em;
  font-size: 1em;
}
main section ul li h4 {
  display: inline;
}
main article ul {
  list-style-type: disc;
  padding-inline-start: 3em;
}
.main-icon h2{
  background-size: 1em !important;
}
.jobs h2 {
  background: url(img/work.svg) no-repeat;
}
.education h2{
  background: url(img/school.svg) no-repeat;
}
.row {
  display: flex;
}
.row article {
  display: block;
  margin-right: 3em;
}
.row h2 {
  background-position-y: 0.1em !important;
}
.skills h2{
  background: url(img/cogs-solid.svg) no-repeat;
}
.knowledge h2{
  background: url(img/bulb.svg) no-repeat;
}